.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  background-color: #9ed2c6;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
