.Button-group {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.Button {
	margin-top: 1rem;
	border-radius: 10px;
	border: none;
	padding: 1rem;
	background-color: #9ed2c6;
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}
